<div class="footer-list" style="grid-column: 1;">
        <ul>
        <li><%= link_to "percy", root_path %></li>
        </ul>
      </div>
      <div class="footer-list" style="grid-column: 2;">
        <ul>
         <li><%= link_to "the small", root_path %></li>
        </ul>
      </div>
      <div class="footer-list" style="grid-column: 4;">
        <ul>
          <li><%= link_to "cheeky", root_path %></li>
        </ul>
      </div>
      <div class="footer-list" style="grid-column: 5;">
        <ul>
          <li><%= link_to "engine", root_path %></li>
        </ul>
      </div>